Nothing to be ignored about except for the 'name':
  - 'spacebar'
  - 'Spacebar'
  - 'SpaceBar'
  - 'space_bar'
  - 'Space_bar'
  - 'Space_Bar'
  - 'space-bar'
  - 'Space-bar'
  - 'Space-Bar'
  - 'space bar'
  - 'Space bar'
  - 'Space Bar'
